
---

- name: link shell
  block:
    - name: init required dirs
      file:
        path: '{{ ansible_env.HOME }}/{{ item }}'
        state: directory
        mode: 0755
      loop:
        - .config
        - .k9s
        - .kube
        - .newsboat
        - .pip
        - .tmux
        - Library/Application Support/Amethyst/Layouts
        - Library/Preferences/k9s
        - source
        - .codeium/windsurf
        - .cursor

    - name: link configdir
      file:
        path: '{{ ansible_env.HOME }}/.config/{{ item }}'
        state: link
        src: '{{ devtainer.dir }}/dots/config/{{ item }}'
        force: true
      loop:
        - aerospace
        - awesome
        - borders
        - kmonad
        - mopidy
        - ncmpcpp
        - neofetch
        - nvim
        - picom
        - powerline
        - spotify-player
        - spotify-tui
        - spotifyd
        - wezterm
        - zellij

    - name: link configurations
      file:
        path: '{{ ansible_env.HOME }}/{{ item.path }}'
        state: link
        src: '{{ devtainer.dir }}/dots/{{ item.src }}'
        force: true
      loop:
      # shell configurations
      - src: shell/zshrc.zsh
        path: .zshrc
      - src: shell/p10k.zsh
        path: .p10k.zsh
      - src: shell/sandboxrc.zsh
        path: .sandboxrc
      - src: config/starship/starship.toml
        path: .config/starship.toml

      # tmux setup
      - src: tmux/tmux.conf
        path: .tmux.conf
      - src: tmux/tmuxinator
        path: .tmuxinator
      - src: tmux
        path: .tmux/conf

      # # twm configs
      - src: amethyst/amethyst.yml
        path: .amethyst.yml
      - src: amethyst/custom_layouts
        path: Library/Application Support/Amethyst/Layouts

      # # vim links
      - src: idea.vim
        path: .ideavimrc
      - src: config/nvim/init.vim
        path: .vimrc

      # set gitconfig
      - src: gitignore
        path: .gitignore

      # # set k9s
      - src: k9s/hotkeys.yaml
        path: Library/Application Support/k9s/hotkeys.yaml

      # # kubectl switch
      - src: kube-switch/switch-config.yaml
        path: .kube/switch-config.yaml

      # newsboard rss feeds
      - src: newsboat/config
        path: .newsboat/config
      - src: newsboat/urls
        path: .newsboat/urls

      # windsurf configurations
      - src: config/windsurf/workflows
        path: .codeium/windsurf/workflows
      - src: config/windsurf/memories
        path: .codeium/memories
      - src: config/windsurf/global_workflows
        path: .codeium/global_workflows

      # cursor configurations
      - src: config/cursor/commands
        path: .cursor/commands
