{
  "mcpServers": {
    "argocd-mcp": {
      "command": "pnpm",
      "args": [
        "--dir",
        "{{ argocd_mcp_dir }}",
        "exec",
        "tsx",
        "src/index.ts",
        "stdio"
      ],
      "env": {
        "NODE_TLS_REJECT_UNAUTHORIZED": "0",
        "ARGOCD_BASE_URL": "{{ argocd_mcp_url }}",
        "ARGOCD_API_TOKEN": "{{ argocd_mcp_api_token }}"
      }
    },
    "bw-mcp": {
      "command": "sh",
      "args": [
        "-c",
        "cd {{ bradfordwagner_mcp_dir }} && go run './cmd/mcp_server'"
      ],
      "env": {
        "ARGOCD_BASE_URL": "{{ argocd_mcp_url }}",
        "ARGOCD_API_TOKEN": "{{ argocd_mcp_api_token }}",
        "ARGOCD_INSECURE": "{{ argocd_mcp_skip_verify }}",
        "ARGOCD_GRPC_MAX_SIZE_MB": "500"
      }
    }
  }
}

